<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'edit_post', media: 'all' %>
<% end %>

<div class="edit-post-container">
  <h1>Editar Post</h1>

  <%= form_with model: @post, local: true do |form| %>
    <div class="field">
      <%= form.label :titulo, "Título" %><br>
      <%= form.text_field :titulo %>
    </div>

    <div class="field">
      <%= form.label :subtitulo, "Subtítulo" %><br>
      <%= form.text_field :subtitulo %>
    </div>

    <div class="field">
      <%= form.label :descricao, "Descrição" %><br>
      <%= form.text_area :descricao %>
    </div>

    <div class="field">
      <%= form.label :imagem, "URL da Imagem" %><br>
      <%= form.text_field :imagem %>
    </div>

    <div class="field">
      <%= form.label :link, "Link do Parceiro" %><br>
      <%= form.text_field :link %>
    </div>

    <div class="field">
      <%= form.label :palavra_chave, "Palavra-chave" %><br>
      <%= form.text_field :palavra_chave %>
    </div>

    <div class="actions">
      <%= form.submit "Atualizar Post", class: "btn btn-warning" %>
    </div>
  <% end %>

  <%= link_to "Voltar", posts_path, class: "back-link" %>
</div>