<% content_for :extra_stylesheets do %>
  <%= stylesheet_link_tag 'search_view', media: 'all' %>
<% end %>

<h1>Destinos</h1>



<hr>

<% if @posts.any? %>
  <div class="posts-grid">
    <% @posts.each do |post| %>
      <div class="card">
        <% if post.imagem.present? %>
          <div class="card-image">
            <img src="<%= post.imagem %>" alt="<%= post.titulo %>">
          </div>
        <% end %>
        <div class="card-content">
          <h2><%= post.titulo %></h2>
          <h3><%= post.subtitulo %></h3>
          <p><%= truncate(post.descricao, length: 150) %></p>
          <%= link_to "Ver detalhes", post_path(post), class: "btn btn-info" %>
        </div>
      </div>
    <% end %>
  </div>
  <div style="text-align: center; margin-top: 20px;">
    <%= link_to "Voltar para a Home", root_path, class: "btn btn-info" %>
  </div>
<% else %>
  <p>Nenhum destino turístico encontrado com este nome cadastrado.</p>
  <div style="text-align: center; margin-top: 20px;">
    <%= link_to "Voltar para a Home", root_path, class: "btn btn-info" %>
  </div>
<% end %>
